.game-view {
  &__side-bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 0.5em;
    text-align: center;

    @media (max-width: 375px) {
      flex-direction: row;
      padding-left: 0;
    }
  }

  &__grid {
    align-self: center;
    padding-right: 0.5em;
    text-align: center;

    @media (max-width: 375px) {
      padding-right: 0;
    }
  }
}
