.block {
  display: block;
  width: 1.5em;
  height: 1.5em;
  background-color: transparent;
  border: transparent solid 1px;

  @media (max-width: 375px) {
    width: 1.5em;
    height: 1.5em;
  }

  &--ghosted {
    border-color: white;
  }

  &--green {
    background-color: green;
  }

  &--red {
    background-color: red;
  }

  &--blue {
    background-color: blue;
  }

  &--yellow {
    background-color: yellow;
  }

  &--teal {
    background-color: teal;
  }

  &--purple {
    background-color: purple;
  }

  &--orange {
    background-color: orange;
  }
}
