@use 'src/themes/default';

.block {
  display: block;
  width: 1.5em;
  height: 1.5em;
  background-color: transparent;
  border: transparent solid 1px;

  @media (max-width: 375px) {
    width: 1.5em;
    height: 1.5em;
  }

  &--ghosted {
    border-color: default.$default-ghost;
  }

  &--green {
    background-color: default.$default-green;
  }

  &--red {
    background-color: default.$default-red;
  }

  &--blue {
    background-color: default.$default-blue;
  }

  &--yellow {
    background-color: default.$default-yellow;
  }

  &--teal {
    background-color: default.$default-teal;
  }

  &--purple {
    background-color: default.$default-purple;
  }

  &--orange {
    background-color: default.$default-orange;
  }
}
