.grid {
	text-align: center;
	border: white 1px solid;
	width: 260px;
	background-color: #ffffff;

	@media (max-width: 375px) {
		width: 180px;
	}

	&__row {
		display: flex;
		flex-direction: row;
		width: auto;
		justify-content: center;
	}
}
