.grid {
  width: 260px;
  text-align: center;
  background-color: #fff;
  border: white 1px solid;

  @media (max-width: 375px) {
    width: 260px;
  }

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
  }
}
