$default-ghost: white;
$default-green: green;
$default-red: red;
$default-blue: blue;
$default-yellow: yellow;
$default-teal: teal;
$default-purple: purple;
$default-orange: orange;
$default-grid-color: white;
$default-game-color: #cecbcb;
