.game-view-container {
	display: flex;
	flex-direction: column;
	align-items: center;

	&__title {
		text-align: center;
		padding: 10px;
		font-size: 3em;
	}

	&__content {
		display: flex;
		flex-direction: row;
		flex-grow: 2;
		margin: 10px;
		background-color: #cecbcb;
		border-radius: 1em;
		padding: 1em;

		@media (max-width: 375px) {
			border-radius: 0;
		}

		&__side-bar {
			display: flex;
			flex-direction: column;
			justify-content: start;
			text-align: center;
			padding-left: 0.5em;

			@media (max-width: 375px) {
				padding-right: 0.5em;
			}
		}

		&__grid {
			text-align: center;
			align-self: center;
			padding-right: 0.5em;

			@media (max-width: 375px) {
				padding-right: 0.5em;
			}
		}

		&__stats {

		}
	}
}
